<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Nuget1" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
        <add key="Nuget2" value="https://www.nuget.org" />
        <add key="Nuget3" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    </packageSources>
</configuration>